* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1em;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 175%;
}


section {
    position: relative;
    overflow: auto;
}

section>div {
    font-size: 125%;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
}

p {
    font-size: 100%;
    padding-top: 35px;
    margin: 0;
}

#section1 {
    background-color: lightgreen;
}

#section2 {
    background-color: aqua;
}

#section3 {
    background-color: lightsalmon;
}


#div1{background-color: yellow; padding: 5px 25px; border: 1px black solid;}
#div2{background-color: lightcyan; padding: 5px 25px; border: 1px black solid;}
#div3{background-color: lightblue; padding: 5px 25px; border: 1px black solid;}

@media (max-width:767px){
    section{
        width: 100%;
        float: left;
        margin: 0.5em 0;        
        padding: 0.7em;
        border: 1px black solid;
    }
}

@media (min-width:768px) and (max-width:991px){
    section{
        padding: 0.7em;
        border: 1px black solid;
    }
    #section1 {
        float: left;
        width: 49% ;
        margin-bottom: 15px;
    }
    
    #section2 {
        float: right;
        width: 49%;
    }
    
    #section3 {
        clear: both;
        width: 100%;
    }
}

@media (min-width:992px) {
    section {
        width: 32.3%;
        float: left;
        margin: 0 0.3rem;
        padding: 0.7em;
        border: 1px black solid;
    }
}
